body {
  font-family: "Pixelify Sans", sans-serif;
  font-size: x-large;
  background-color: #26b2a4;
}
hr {
  color: #b62f23;
}
h1,
h2 {
  color: #9b332a;
  text-align: center;
}

h1 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: #e9b824;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
}
a:hover {
  color: #d83f31;
  border: #ee9322 solid;
  transition: 0.3s;
}

.heading {
  color: #9b332a;
}
.heading:hover {
  color: #cc5933;
  text-decoration: dotted;
  border: none;
}
.container {
  margin: 0 auto;
  background-color: #269186;
  padding-top: 10px;
  max-width: 80%;
  max-height: 50%;
  text-align: center;
  position: relative;
  border: 1px solid #40bcb0;
  margin-top:30px;
}

.dharmadeep {
  position: absolute;
  background-color: #cd9d0e;
  padding: 3px;
  border: 1px solid #cc5933;
  color: white;
  top: -17px;
  left: -55px;
}
img.bird {
    width: 161px;
    transition: 0.2s;
    margin-top: 9px;
    margin-bottom: 6px;
}
img:hover {
  transition: 0.3s;
  transform: scale(1.25);
}
.villan img {
  margin: 0;
}
.villan img:hover {
  transform: scale(1.15);
}
